*{
		font-size: 18px;
		font-family: courier;	
	}
	body, html{
		background-color: #000;
		background-position: center; 
		background-repeat: no-repeat;	
		height: 100%;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	#main{
	    margin: auto;
	    position: absolute;
	}

	#view{
		font-family: courier;
		font-size: 12px;
	}

	.pice{		
		float: left;
		cursor: pointer;
		position: absolute;	
		/*border: solid 1px;*/
	}

	.pice .icon{
		width: 100%;
		height: 100%;		
		background-repeat: no-repeat;	
		background-size: 90% 90%;	
		background-position: center; 
		/*box-shadow: 3px 3px 3px grey;*/
	}

	.pice.void{
		background: none;
	}

	.pice.first{
		clear: both;
	}

	#game{
		/*background: #DCEDF2;*/		
		position: relative;
		margin: auto;
		width: 300px;
		height: 300px;
	}

	#game.disabled{
		pointer-events: none;
		opacity: 0.7;
	}

	#controle{
		/*background: #DCEDF2;*/
		padding: 4px;
		margin: auto;
		text-align: center;
	}
	#controle button{
		margin: auto;
	}

	#main .content{
		padding: 10px;
		background: #90C3D4;
		border: solid 4px #527536;
		position: relative;
	}

	#main .footer{
		padding: 10px;

	}

	#main .footer ul{
		padding: 0px;
		margin: 0px;
		list-style: none;
	}

	#main .footer ul li{
		float: left;
	}

	#main .footer ul li .icon{
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		border-radius: 20px 20px;
		background-position: center; 
		padding: 5px;
		background-color: #fff;
		cursor: pointer;
		margin-right: 4px;
	}

	#main .footer ul li .icon.disabled{
		pointer-events: none;
		opacity: 0.7;
	}	

	#main .footer ul li .icon.help-rr{
		background-image: url('images/01-refresh-icon.png');
	}

	#main .footer ul li .icon.help-rl{
		background-image: url('images/02-refresh-icon.png');
	}

	#main .footer ul li .icon.help-x{
		background-image: url('images/02-redo-icon.png');
	}

	#main .footer ul li .icon.counter{
		background-color: #527536;
		color: #FFF;
		text-align: center;
		line-height: 24px;
		font-weight: bold;
	}

	#main .top{
		font-size: 30px;
		text-align: center;
		color: red;
		font-weight: bold;
		text-transform: uppercase;
	}

	#main .content{
		position: relative;
	}

	#main .content .col-1{
		width: 60%;
		float: left;
	}
	#main .content .col-2{
		width: 40%;
		float: left;
	}

	#status{
		width: 100px;
		background: #FFF;
		padding: 10px;
		position: absolute;
		top: 0px;
		right: -140px;
	}

	#status .header{
		font-weight: bold;
	}

	#status input{
		width: 100%;
		padding: 4px;
		font-size: 12px;
		font-weight: bold;
		background-color: #552EBF ;
		color: #fff; 
		border: solid 0px;
	}

	#StopLevel{
		width: 200px;
		left: 50%;
		margin-left: -100px;
		top: 40px;
		padding: 10px;
		position: absolute;
		z-index: 1000;
		display: none;
	}

	#StopLevel  ul,
	#GameOver ul{
		padding: 0px;
		margin: 0px;
		list-style: none;
	}

	#StopLevel  ul li,
	#GameOver ul li {
		padding: 5px;
		margin-bottom: 10px;
		cursor: pointer;
		font-weight: bold;
		color: #356359;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		background: white;
	}

	#GameOver{
		width: 200px;
		left: 50%;
		margin-left: -100px;
		top: 40px;
		padding: 10px;
		position: absolute;
		z-index: 1000;		
		display: none;

	}

	#status .pices .pice{
		position: relative;	
		width: 20px;
		height: 20px;
	}

	#status .pices ul{
		padding: 0px;
		margin: 0px;
		list-style: none;
	}

	#status .pices ul li{
		padding: 5px;
		width: 100%;
		margin-bottom: 5px;
		clear: both;		
	}

	#status .pices ul li .amount{
		margin-left: 10px;
		background: #552EBF;
		color: white;
		font-size: 15px;
		padding: 2px;
		line-height: 15px;
	}

	#status .pices ul li > div{
		float: left;
	}

	h2{
		font-size: 35px;
		font-weight: bold;
		color: white;
		text-align: center;
	}