body{
	background-image: url("images/background.jpg");
}

.pice.one .icon{
	background-image: url('images/mosca.png');
}

.pice.two .icon{
	background-image: url('images/escaravelho.png');
}

.pice.three .icon{
	background-image: url('images/escorpiao.png');
}

.pice.four .icon{
	background-image: url('images/four.png');
}