body{
	background-image: url("images/background.jpg");
	background-size: 100% 100%;
}

.pice.one .icon{
	background-image: url('images/one.png');
}

.pice.two .icon{
	background-image: url('images/two.png');
}

.pice.three .icon{
	background-image: url('images/three.png');
}

.pice.four .icon{
	background-image: url('images/four.png');
}